.list {
  margin: 0 auto;
  max-width: 500px;
}

.row {
  display: flex;
  text-align: center;
  user-select: none;
}
.row:nth-child(even) {
  background-color: #1f1f1f;
}

.data {
  padding: 8px;
  margin: 0;
  display: inline;
  width: 50%;

  /* https://css-tricks.com/almanac/properties/t/text-overflow */
  overflow: hidden;
  whiteSpace: nowrap;
  textOverflow: ellipsis;
}

.clickable:hover {
  /* star wars golden color */
  color: #FFE300;
  text-decoration: underline;
  cursor: pointer;
}
